<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @movie do |f| %>
        <% if @movie.errors.any? %>
          <div>
            <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
            <ul>
              <% @movie.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= f.label "title" %>
          <%= f.text_field "title", class: 'form-control' %>
        </div>
        <div>
          <%= f.label "release_date" %>
          <%= f.date_field "release_date", class: 'form-control' %>
        </div>
        <div>
          <%= f.label "director" %>
          <%= f.text_field "director", class: 'form-control' %>
        </div>
        <div>
          <%= f.label "runtime_in_minutes" %>
          <%= f.text_field "runtime_in_minutes", class: 'form-control' %>
        </div>
        <div>
          <%= f.label "Poster" %>
          <%= f.file_field "poster_image_url", class: 'form-control' %>
        </div>
        <div>
          <%= f.label "description" %>
          <%= f.text_area "description", class: 'form-control' %>
        </div>
        <div>
          <%= f.submit "Submit", class: 'btn btn-submit btn-margin' %> 
        </div>
      <% end %> 
    </div>
  </div>
</div>