<div class="row row-margin">
  <% @movies.each do |movie| %>
      <div class="movie_post_box col-xs-6 col-sm-4">
        <div class="image_center col-sm-12">
        <%= link_to image_tag(movie.poster_image_url_url(:thumb), class: "poster-margin img-responsive center-block"), movie_path(movie) %>
        </div>
        <div class="text-center">
          <h4><%= link_to movie.title, movie_path(movie), class: "movie-title" %></h4>
          <h5><%= formatted_date(movie.release_date) %></h5>
          <p> <%= movie.review_average %>/10</p>
          <h5>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h5>
          <p><%= movie.description %></p>
        </div>
      </div>
  <% end %>
</div>