<div class="container">
  <div class="row">
    <h2 class="text-center">Sign Up</h2>
      <div class="col-md-offset-4 col-md-4">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div>
          <h4 class="text-center"><%= pluralize(@user.errors.count, "error") %> ocurred:</h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= f.label "email" %>
        <%= f.text_field "email", class: "form-control" %>
      </div>
      <div>
        <%= f.label "firstname", "First Name" %>
        <%= f.text_field "firstname", class: "form-control" %>
      </div>
      <div>
        <%= f.label "lastname", "Last Name" %>
        <%= f.text_field "lastname", class: "form-control" %>
      </div>
      <div>
        <%= f.label "password" %>
        <%= f.password_field "password", class: "form-control" %>
      </div>
      <div>
        <%= f.label "password_confirmation" %>
        <%= f.password_field "password_confirmation", class: "form-control" %>
      </div>
      <div><%= f.submit "Submit", class: "btn-submit btn btn-margin" %></div>
    <% end %>
    </div>
  </div>
</div>